.tab_front{
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	font-size: 11pt;
	color: #666666;
	width: 150px;
	height: 30px;
	text-align: center;
	background: #ffffff;
	font-family: 'Meiryo UI';
	cursor: pointer;
}

.tab_back{
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	font-size: 11pt;
	color: #666666;
	width: 150px;
	height: 30px;
	text-align: center;
	background: #cccccc;
	font-family: 'Meiryo UI';
	cursor: pointer;
}

.tab_blank{
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	width: 200px;
	height: 30px;
	background: #ffffff;
}

.main{
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	width: 650px;
	height: 350px;
	font-family: 'Meiryo UI';
}




